devutilityUI/node_modules
devutilityUI/dist
devutility/target
devutility/.metadata
devutility/src/main/resources/static/*
!devutility/src/main/resources/static/.gitignore
.metadata
devutility/logs
devutility/passPhrases
